@import url(./basic-styles.css);

/* lesson styles */

.container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

}
.grid-item {
  display: grid;
  gap: 10px;
  border: 2px solid #000;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-items: center;
}

